.details {
  padding: 0 0.5rem;
}
.name {
  font-size: 1rem;
  color: #111;
  margin-bottom: 0;
  margin-top: 0.6rem;
  cursor: pointer;
}

.description {
  font-size: 0.8rem;
  color: #757575;
}

.variant {
  font-size: 0.8rem;
  color: #757575;
}

.price {
  font-size: 0.8rem;
  color: var(--font-color);
  margin-top: 0.4rem;
}
.image {
  cursor: pointer;
}
